@import './abstracts/variables';
@import './abstracts/mixins';

// header e footer
@import './components/layout/AppHeader';
@import './components/layout/AppFooter';

// Jobs
@import './components/jobs/JobSearch';
@import './components/jobs/JobFilters';
@import './components/jobs/JobStats';
@import './components/jobs/JobList';
@import './components/jobs/JobDetail';

//profile
@import 'components/profile/ProfileProgress';
@import 'components/profile/RecentActivity';

body {
    margin: 0;
    padding: 0;
    background-color: #F8FAFC;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
}

.container-3-colunas {
    display: flex;
    margin: 3rem 0 0;
}

.container-right-col{
    margin-top: 5.7rem;
}

