.header {
    font-family: $font-body;
    border: 1px solid $color-border;
    padding: 1rem 19rem;

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        color: $color-primary;
        font-family: $font-body;
        font-size: $font-size-xl;
        font-weight: $font-weight-bold;
        text-decoration: none;
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &__link {
        padding: 0.6rem 1rem;
        border-radius: 8px;
        color: $color-primary;
        font-weight: $font-weight-medium;
        text-decoration: none;
        @include transition(background-color);
        &:hover {
            text-decoration: underline;
            text-decoration-color: $color-secondary;
            text-underline-offset: 6px;
            text-decoration-thickness: 3px;
        }

        &--highlight {
            background-color: $color-secondary;
            color: $color-text;
            &:hover {
                background-color: $color-accent-hover;
            }
        }
    }
}